.wrapper {
  display: grid;
  grid-template-columns: repeat(5 1fr);
  grid-template-rows: repeat(5 1fr);
  grid-template-areas:
    'side main main main main'
    'side main main main main'
    'side main main main main'
    'side main main main main'
    'side foot foot foot foot';
}
main {
  grid-area: main;
}
