main {
  padding: 20px;
}
.container {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'aside section article'
    'aside section article'
    'aside section article';
}
aside {
  grid-area: aside;
  background-color: hsla(203, 92%, 75%, 0.473);
}
section {
  grid-area: section;
  background-color: hsla(286, 90%, 73%, 0.514);
}
article {
  grid-area: article;
  background-color: hsla(340, 57%, 64%, 0.514);
}
.topic {
  padding: 1em;
  line-height: 25px;
  background-color: hsla(27, 92%, 75%, 0.466);
  margin: 1em;
}
.topic img {
  max-width: 100%;
  padding: 0.5em;
}
.topic p {
  margin: 1em;
}
.topic h4 {
  margin: 1em;
}
.topic ul {
  text-indent: 2em;
  list-style: none;
  line-height: 2em;
}
@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'aside'
      'section'
      'article';
  }
}
