main {
  padding: 20px;
}
.container {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'aside section article'
    'aside section article'
    'aside section article';
}
aside {
  grid-area: aside;
  background-color: lightskyblue;
}
section {
  grid-area: section;
}
article {
  grid-area: article;
}
.topic {
  padding: 1em;
  line-height: 25px;
}
.topic img {
  max-width: 100%;
  padding: 0.5em;
}
.topic p {
  margin: 1em;
}
.topic ul {
  text-indent: 2em;
  list-style: none;
  line-height: 2em;
}
@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
