@font-face {
  src: url(/devacademy/twpsynsinsir.github.io/fonts/Cymru\ Sans\ Headline\ Regular.otf);
  font-family: cymru-headline;
}
* {
  box-sizing: border-box;
  font-family: cymru-headline;
}
body {
  margin: 0px;
}
header {
  background-color: hsl(191, 69%, 62%);
  text-align: center;
  padding: 7px;
}
main {
  margin-left: 20px;
  margin-right: 20px;
}
.navbar ul {
  list-style-type: none;
  background-color: hsl(216, 71%, 43%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover {
  background-color: hsl(216, 71%, 23%);
}
.navbar li {
  float: left;
  min-width: 100px;
}
footer {
  display: block;
  clear: both;
  background-color: hsl(0, 0%, 80%);
  padding: 7px;
}
