.sidelog {
  position: absolute;
  left: 0;
  height: 40vh;
  width: 140px;
  z-index: 1;
  background-color: hsl(240, 64%, 71%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}
.sidelog ul {
  list-style: none;
  margin: 0%;
}
.sidelog li {
  padding-bottom: 10px;
}
.sidelog a {
  text-decoration: none;
  font-size: 20px;
  color: hsl(240, 64%, 31%);
}
.sidelog a:hover {
  color: hsl(240, 64%, 21%);
}
main {
  margin-left: 160px;
  margin-top: 50px;
}
#block {
  background-color: lightblue;
}
span {
  background-color: lightcoral;
}
.block {
  background-color: aqua;
  height: 50px;
}
.inline {
  background-color: lightgreen;
  display: inline;
  height: 50px;
}
.inline-block {
  background-color: tomato;
  display: inline-block;
  height: 50px;
}
div p {
  max-width: 50%;
}
h2 {
  border: 2px solid slateblue;
  border-radius: 20px;
  padding: 5px;
  display: inline-block;
  background-color: hsl(207, 44%, 75%);
}
